.CategoryList {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
  
.CategoryButton {
    background-color: #373854;
    color: #f1f1f1;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 8px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
    margin: 0.4em;
    margin-bottom: 1em;
    margin-top: 1em;
}
  
.CategoryButton:hover {
    background-color: #e86af0;
}
  
.CategoryButton.selected {
    background-color: #2c3e50;
}
  
.CategoryButton.selected:hover {
    background-color: #233140;
}
  
.ProductList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    margin: 1em;
}
  
.Product {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
}
  
.InfoContainer {
    margin-top: 20px;
}
  
.TotalPrices,
.SelectedTotalPrices {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 8px;
}
  
.SelectedTotalPrices {
    color: #27ae60;
    text-align: center;
}
  
.TotalPrices {
    font-weight: bold;
    text-align: center;
}
  
.UnitCount {
    color: #888;
    font-size: 0.8em;
}

.App h1 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
}

/* styles.css (or your preferred CSS file) */

.Product {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
  }
  
.Product h3 {
    font-size: 1.5em;
    color: #967da9;
    margin-bottom: 10px;
}
  
.Product p {
    font-size: 1em;
    color: #666;
    margin-bottom: 8px;
}
  
.Product .price {
    font-weight: bold;
    color: #28a745; 
}
  
.Product .category {
    font-style: italic;
    color: #007bff; 
}
  
.Product .units {
    color: #dd7467; 
}
  
.Product .rating {
    color: #ffc107; 
}
  